<div class="l-email-list">
    <div class="m-search-box">
        <label for="search-box">Search</label>
        <input class="search-box" id="search-box" type="text" name="search" placeholder="for conversations, people...">
        <span class="search-icon"></span>
    </div>
    <div class="m-titlebar">
        <span class="list-title">Inbox</span>
        <a class="link-compose" href="#"></a>
    </div>
    <ul class="m-email-items">
        <li>
            <a href="#">
                <span class="item-titlebar">InFuture</span>
                <span class="item-date">SUN 09/13/15</span>
                <h4 class="item-subject">Check out other HS Hackathons</h4>
                <p class="short-desc">The Fall season is super great! if you are interested...</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="item-titlebar">InFuture</span>
                <span class="item-date">SUN 09/13/15</span>
                <h4 class="item-subject">Check out other HS Hackathons</h4>
                <p class="short-desc">The Fall season is super great! if you are interested...</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="item-titlebar">InFuture</span>
                <span class="item-date">SUN 09/13/15</span>
                <h4 class="item-subject">Check out other HS Hackathons</h4>
                <p class="short-desc">The Fall season is super great! if you are interested...</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="item-titlebar">InFuture</span>
                <span class="item-date">SUN 09/13/15</span>
                <h4 class="item-subject">Check out other HS Hackathons</h4>
                <p class="short-desc">The Fall season is super great! if you are interested...</p>
            </a>
        </li>
    </ul>
</div>
