<div class="l-menu">
    <div class="m-header">
        <img class="profile-image user-mini-profile user-profile-image" src="Components/Menu/images/profile-image.png">
        <div class="user-mini-profile user-mini-details">
            <div class="username">Zafar Saleem</div>
            <div class="useremail">zafar.saleem@email.com</div>
        </div>
    </div>
    <ul class="m-menu">
        <li>
            <a class="active" href="#">Inbox</a>
            <span class="counter">5</span>
        </li>
        <li><a class="" href="#">Favorites</a></li>
        <li><a class="" href="#">Sent</a></li>
        <li><a class="" href="#">Draft</a></li>
        <li><a class="expand-items" href="#">More</a></li>
    </ul>
    <div class="m-footer">
        <a class="exit" href="#"></a>
        <a class="info" href="#"></a>
        <a class="settings" href="#"></a>
    </div>
</div>
