.l-email-list {
    .m-search-box {
        position: relative;
        height: 35px;
        border-bottom: 1px solid #DDDDDD;

        label {
            display: inline-block;
            vertical-align: middle;
            padding-bottom: 6px;
            padding-left: 15px;
            margin-right: -4px;
            color: #999999;
        }

        .search-box {
            border-style: solid;
            border-width: 1px;
            border: 1px solid #f1f2f3;
            box-shadow: none;
            background: #f1f2f3;
        }

        .search-icon {
            position: absolute;
            top: 4px;
            right: 15px;
            width: 22px;
            height: 22px;
            background: url('../../images/search.png') no-repeat;
            background-size: 22px;
        }
    }
}
